
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ユーザー一覧</title>
</head>
<body>

<h1>ユーザー一覧</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>パスワード</th>
        <th>メールアドレス</th>
        <th>削除</th>
    </tr>

    <tr th:each="user : ${list}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <a th:href="@{/delete(name=${user.name})}">削除</a>
        </td>
    </tr>
</table>

</body>
</html>